.navbar {
  background-color: white;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 20;
  /* border: 2px solid red; */
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  max-width: 1500px;
  position: relative;
  /* border: 2px solid black; */

}

.nav-logo {
  color: black;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-items: center;
  /* border: 2px solid red; */

}

/* .nav-logo .icon {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  margin-left: 16px;
} */

.nav-menu {
  display: flex;
  list-style: none;
  /* border: 2px solid green; */
  display: flex;

  /* align-items:flex-start ; */
}

.nav-links {
  color: black;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  display: flex;

  align-items: center;
  justify-items: center;
  /* border: 2px solid red; */

}
/* .fa-code {
  margin-left: 1rem;
} */

.nav-item {
  /* line-height: 40px; */
  margin-right: 1rem;
  /* border: 2px solid blue; */

}

.nav-item:after {
  content: "";
  display: block;
  /* height: 3px; */
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  /* background: ; */
}

/* .nav-item .active {
  color: #ffdd40;
  border: 1px solid #ffdd40;
} */

/* .nav-icon {
  display: none;
  color: #f5b921;
} */

.nav-icon .icon {
  display: inline-block;
  width: 2rem;
  /* height: 2rem; */
}

@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1pxsolid #fff;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #1f5156;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-item .active {
    /* color: #ffdd40; */
    border: none;
  }
  .nav-links {
    padding: 1.5rem;
    width: 100%;
    display: table;
  }

  .nav-logo .icon {
    width: 2rem;
    height: 2rem;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-100%, -50%);
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    /* color: #ffdd40; */
  }
}
