.heading{
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: sans-serif;
    font-size: 30px;
    font-weight:600;
    color: black;
    text-align: center;
}
.subheading{
    text-align: center;

}
.carouselpart{
    margin-top: 30px;
}
