.bg{
    background-image: url(../assets/lastimg.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* filter: brightness(60%); */
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: center;

}

.box{
    width: 100%;
}
.text{
    color: white;
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.logo{
    display: flex;
    flex-direction: row;
}
.img{
    width: 30px;
    height: fit-content;
    /* border: 2px solid green; */
}
.company{
    font-family: sans-serif;
    color: white;
    padding: 5px;
}
.bottomcntr{
    display: flex;
    width: 41%;
    left: 0;
    right: 0;
    margin: auto;
    align-items: right;
    justify-content: right;
    /* border: 2px solid green; */

}
@media only screen and (max-width:600px){
    .text{
        color: white;
        font-family: sans-serif;
        font-size: 35px;
        font-weight: bold;
        text-align: center;
    }
    .bottomcntr{
        display: flex;
        width: 80%;
        left: 0;
        right: 0;
        margin: auto;
        align-items: right;
        justify-content: right;
        /* border: 2px solid green; */
    }
}