
.img{
    width: 200px;
    height: auto;
    padding-left: 20px;
}
.contentbox{
    /* border: 2px solid green; */
    padding-left: 20px;
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;

}
.infobox{
    display: block;
}

.heading_contactinfo{
    font-size: 25px;
    font-weight: bold;
    padding-left: 50px;
    padding-top: 10px;

}
.contactinfo_img1{
    width:40px;
    height: fit-content;
    padding-top: 5px;
}


.horizontal_line {
    width: 100%;
    border: none;
    border-top: 5px solid black !important; /* Adjust thickness and color as needed */
    margin-top: 10px; /* Adjust spacing between the parent div and the line */
  }

.iconbox_flex{
    width: 100%;
    display: flex;
    flex-direction: row;
    /* border: 2px solid red; */
    /* align-items: center;
    justify-content: center; */
    padding-left: 35px;
    padding-top: 20px;
}
.logoicons{
    /* border: 2px solid red; */
    margin: 10px;
}