.nav_desktop{
    display: block;
}
.nav_mobile{
    display: none;
    overflow: hidden;
    width: 100vw;
}
/*..............................................................*/
.home_hero_desktop{
    display: block;
}
.home_hero_mobile{
    display:none;
}
/*..............................................................*/
.why_desktop{
    display: block;
}
.why_mobile{
    display:none;
}
/*.............................................................*/
.hero_service_desktop{
    display:block;
}
.hero_service_mobile{
    display:none;
}

/* ........................................................... */
.servicenext_desktop{
    display:block;
}
.servicenext_mobile{
    display:none;
}
/* ........................................................... */
.cards_heroblog{
    background-image: url(../assets/heroimage.jpeg);
    background-size: cover;
}
.cards_heroblog::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the transparency by changing the last value (0.5) */
}
.cards_desktop{
    display:block;
}
.cards_mobile{
    display:none;
}

/* ........................................................... */
.testicard_mobile{
    display:none;
}
.testicard_desktop{
    display: block;
}

/* ........................................................... */
.contactus_mobile{
    display:none;
}
.contactus_desktop{
    display: block;
}

/* .................... */
.portfoliocard:hover{
    box-shadow: 5px 10px 30px;
    transition: 0.2s ease-in-out;
    
    
}
/* ......................... */
.whyneed_desktop{
    display:block;
}
.whyneed_mobile{
    display:none;
}
/* .............................. */
.servicehero_mobile{
    display: none;
}
.servicehero_desktop{
    display: block;
    background: #00000057;
}
/* ................................ */
.service_card_desktop{
    display: block;
}
.service_card_mobile{
    display:none;
}
/* .................................... */
.portfoliohero_desktop{
    display:block;
}
.portfoliohero_mobile{
    display:none;
    /* border: 2px solid red; */
}
/* ................................. */
.contact{
    display:block;
}
.contactflex{
    display:flex;
    flex-direction:row; 
    align-items:center; 
    justify-content:center;
    margin-top: 0px;
}
/* ........................................ */
.formhead{
    margin-top:30px;
}
.formbox{
    padding: 0px;
}
.porthero_margin{
    margin-top: 0px;
}
/* ................................ */
.card_anchor:hover{
    text-decoration: none;
    font-weight: normal;

}
/* ................................ */
.success_mobile{
    display: none;
}
.success_desktop{
    display: block;
}


@media only screen and (max-width:600px)
{
    .nav_desktop{
        display: none;
    }
    .nav_mobile{
        display: block;
    }


    .home_hero_desktop{
        display: none;
    }
    .home_hero_mobile{
        display:block;
    }


    .why_desktop{
        display: none;
    }
    .why_mobile{
        display:block;
    }

    .hero_service_desktop{
        display:none;
    }
    .hero_service_mobile{
        display:block;
    }

    .servicenext_desktop{
        display:none;
    }
    .servicenext_mobile{
        display:block;
    }

    .cards_desktop{
        display:none;
    }
    .cards_mobile{
        display:block;
    }

    .testicard_mobile{
        display:block;
    }
    .testicard_desktop{
        display: none;
    }

    .contactus_mobile{
        display:block;
    }
    .contactus_desktop{
        display: none;
    }

    .servicehero_mobile{
        display: block;
    }
    .servicehero_desktop{
        display: none;
    }

    .service_card_desktop{
        display: none;
    }
    .service_card_mobile{
        display:block;
    }
    .portfoliohero_desktop{
        display:none;
    }
    .portfoliohero_mobile{
        display:block;
    }

    .contact{
        display: none;
    }

    .contactflex{
        /* border: 2px solid red; */
        display:flex;
        flex-direction:column; 
        align-items:center; 
        justify-content:center;
        margin-top: 90px;
    }

    .formhead{
        margin-top:0px;
    }
    .formbox{
        padding:25px;
    }

    .porthero_margin{
        margin-top: 70px;
    }
    .success_mobile{
        display: block;
    }
    .success_desktop{
        display: none;
    }
}