/* body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; 
} */
.parent{
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 100vw;
  /* border: 2px solid green; */
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS */
}

.section {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  width: 100%;
  /* border: 2px solid green; */

}

.section1 {
  background-color: black;
  /* border: 2px solid red; */

}

.section2 {
  background-color: black;
}

.section3 {
  background-color: black;
}


.flexcntr{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 450px;
  background: #000;
  /* border: 2px solid red; */
}
.box1{
  width: 500px;
  height: auto;
  /* padding: 20px; */
  text-align: left;
  margin-top: 50px;
  margin-left: 180px;
  /* border: 2px solid red; */

}
.snap-scroll {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

/* .box2{
  border: 2px solid red;
} */
.head{
  font-size: 25px;
  font-family: sans-serif;
  color: white;
  width: 400px;
  height: auto;
  font-weight: bold;
  padding: 0px;
  /* width: 300px; */
  text-align: left;
  /* border: 2px solid red; */
}
.content{
  font-size: 17px;
  font-family: sans-serif;
  color: white;
  width: 350px;
  height: auto;
  margin-top: 30px;
  /* border: 2px solid red; */

  
}
.img{
  width:450px;
  height: auto;
  border-radius: 10px;
  margin: 40px;
}
@media only screen and (max-width:600px){
  .head{
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    width: 400px;
    height: auto;
    font-weight: bold;
    padding: 0px;
    
    text-align: left;

  }
  .content{
    font-size: 15px;
    font-family: sans-serif;
    color: white;
    width: 100vw;
    height: auto;
    /* margin-top: 30px; */
    /* border: 2px solid red; */
  
    
  }
  .flexcntr{
    display: block;
    /* flex-direction: row; */
    width: 100vw;
    height: auto;
    background: #000;
    /* border: 2px solid red; */
  }
  .img{
    width:100px;
    height: auto;
    border-radius: 10px;
    margin: 0px;
  }
}