/* hero blog */


/* slider section */
.slider_section {
  height: calc(100% - 80px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          /* border: 2px solid green; */
          background-color: transparent;

  margin-top: 10vh;
}

.slider_section .detail-box {
  color: #ffffff;
}

.slider_section .detail-box h1 {
  text-transform: uppercase;
}

.slider_section .detail-box h1 span {
  color: whitesmoke;
  font-weight: bold;
}

.slider_section .detail-box p {
  margin-top: 15px;
}

.slider_section .detail-box .btn-box {
  margin-top: 45px;
}

.slider_section .detail-box .btn-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #e93f1a;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
  border-radius: 5px;
}

.slider_section .detail-box .btn-box a:hover {
  background-color: transparent;
  border-color: #e93f1a;
  color: #e93f1a;
}

.slider_section #carouselExampleIndicators {
  width: 100%;
}

.slider_section .carousel-indicators {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: initial;
  width: 25px;
  height: 200%;
  margin: 0;
  bottom: 50%;
  right: 45px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.slider_section .carousel-indicators::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 55%;
  background-color: #ffffff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slider_section .carousel-indicators span {
  margin: 0 2px;
}

.slider_section .carousel-indicators li {
  text-indent: unset;
  margin: 0;
  border: none;
  opacity: 1;
  background-color: transparent;
  width: auto;
  height: auto;
}

.slider_section .carousel-indicators li.active {
  color: #e93f1a;
}

.slider_section .custom_carousel-control {
  position: absolute;
  top: 50%;
  left: 25px;
  width: 105px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slider_section .custom_carousel-control .carousel-control-prev,
.slider_section .custom_carousel-control .carousel-control-next {
  margin: 10px 0;
  position: relative;
  width: 45px;
  height: 45px;
  border: none;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 8px;
  background-position: center;
  background-color: #e8e8e8;
  border-radius: 100%;
}

.slider_section .custom_carousel-control .carousel-control-prev:hover,
.slider_section .custom_carousel-control .carousel-control-next:hover {
  background-color: #e93f1a;
}

.slider_section .custom_carousel-control .carousel-control-prev {
  background-image: url(../assets/prev.png);
}

.slider_section .custom_carousel-control .carousel-control-prev:hover {
  background-image: url(../assets/prev-white.png);
}

.slider_section .custom_carousel-control .carousel-control-next {
  background-image: url(../assets/next.png);
}

.slider_section .custom_carousel-control .carousel-control-next:hover {
  background-image: url(../assets/next-white.png);
}

/* end slider section */
.hero_area {
  height: 100vh;
  background-image: url(../assets/heroimage.jpeg);
  background-size: cover;
  border: 2px solid red;
}
.hero_area::before {
  /* content: ""; */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha (last value) to control darkness */
}

.detail-box{
  /* border: 2px solid red; */
  width: 100%;
  height: fit-content;
  padding: 5%;
}
.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.heading_container h2 {
  font-weight: bold;
  color: #050000;
  padding: 3px 10px;
  border-bottom: 1px solid #000000;
}
.flex{
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;

}

.hero_area {
  height: 100vh;
  background-image: url(../assets/heroimage.jpeg);
  background-size: cover;
}
.hero_area::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.sub_page .hero_area {
  height: auto;
}

.paralinks{
  color: #e93f1a;
}
a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}




.about_section .img-box img {
  width: 100%;
}

.listings{
  margin-top: 20px;
}

.img-box-featured>img{
  height: auto;
  width: 40vw;
  size: cover;
  margin-top: 10%;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 60px;
}
.about_section .detail-box a {
  cursor: pointer;
  display: inline-block;

  color: #e93f1a;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;

}

.about_section .detail-box a:hover {
  background-color: transparent;
  border-color: #e93f1a;
  color: #e93f1a;
}

.body_bg {
  background-image: url(../assets/body_bg.jpg);
  background-size: cover;
}

.service_section .heading_container {
 
  margin-bottom: 25px;
}

.service_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 15px 0;
  width: 85%;
}

.service_section .box h4 {
  margin-top: 5px;
}

.service_section .box a {

  color: #e93f1a;
  text-transform: uppercase;
}
@media only screen and (max-width:500px){
  .flex{
    flex-direction: column;
  }
  .img-box-featured>img{
    height: auto;
    width: 90vw;
    size: cover;
    margin-top: 10%;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

